@model IEnumerable<MvcApplication1.Models.Noticia>
@{
    ViewBag.Title = ViewBag.Categoria;
}

<h2>Categoria: @ViewBag.Categoria</h2>
<div>
    <ul>
        @foreach (var item in Model) {
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new {
               @noticiaId = item.NoticiaId,
               @categoria = item.Categoria.ToLower(),
               @titulo = item.Titulo.ToLower()
           }, null)
                <em>@Html.DisplayFor(x => item.Categoria) </em><b>@Html.DisplayFor(x => item.Data)</b>
            </li>
        }
    </ul>
</div>

